<div class="modal fade" id="edit" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h2 class="modal-title">Edit
          <%= resource_name.to_s.humanize %></h2>
      </div>
      <div class="modal-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, class: 'form-control', autofocus: true, value: current_user.email unless current_user.nil? %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for:
          <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %>
          <i>(leave blank if you don't want to change it)</i><br/>
          <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %>
          <i>(we need your current password to confirm your changes)</i><br/>
          <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: 'btn btn-success' %>
        </div>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy?
          <%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>

      </div>
    </div>

  </div>
</div>
