<div class="modal fade" id="registration" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h2 class="modal-title">Sign up</h2>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, class: 'form-control', autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>
            characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-success' %>
        </div>
        <% end %>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      </div>
    </div>

  </div>
</div>
