-if user_signed_in?
  -if (current_user.id == comment.user_id)
    %td= #link_to t('layout.show'), gallery_images_path(gallery), class: 'btn btn-default'
    %td= #link_to t('layout.edit', model: ''), edit_gallery_path(gallery), class: 'btn btn-default'
    %td= #link_to t('layout.destroy'), gallery, :method => :delete, :data => { :confirm => t('layout.confirm') }, class: 'btn btn-danger'
  
