.panel-body
  
  = form_for([@image, @comment]) do |f|
    - if @comment.errors.any?
      #error_explanation
        %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this gallery from being saved:"
        %ul
          - @comment.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = f.label t('layout.title') << ": "
      = f.text_field :title
    .form-group
      = f.label t('layout.body') << ": "
      = f.text_field :body
    .form-group
      = f.label t('layout.user') << ": "
      = f.label current_user.name
      .actions
        = f.submit 'Save'
