%h1.center-align= t('comment.index')

= link_to t('layout.new', model: 'Comment'), new_image_comment_path(params[:id]), class: 'btn btn-default'
%table.table
  %thead
    %tr
      %th= t('layout.title')
      %th= t('layout.comment')

  %tbody
    -comments.each do |comment|
      %tr
        %td= comment.title
        %td= comment.body

        =render 'comments/edit_menu', comment: comment
