.row
  .col-lg-3
  .col-lg-6
    .panel.panel-default
      .panel-heading
        %h4= t('layouts.new', model: 'Comment')
      = render 'form'

    = link_to 'Back', :back, class: 'btn btn-default'
