<div class="modal fade" id="login" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h2 class="modal-title">Log in</h2>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, class: 'form-control', autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br/>
          <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>
      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-success' %>
        </div>
        <% end %>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      </div>
    </div>

  </div>
</div>
