<% if user_signed_in? %>
  <% if (current_user.id == gallery.user.id) %>
    <td>
      <%= link_to t('layout.show'), gallery_images_path(gallery), class: 'btn btn-default' %>
    </td>
    <td>
      <%= link_to t('layout.edit', model: ''), edit_gallery_path(gallery), class: 'btn btn-default' %>
    </td>
    <td>
      <%= link_to t('layout.destroy'), gallery, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </td>
    <td>
      <%= link_to t('layout.download'), download_gallery_path(gallery), class: 'btn btn-default' %>
    </td>
  <% elsif gallery.is_public == true %>
    <td>
      <%= link_to t('layout.show'), gallery_images_path(gallery), class: 'btn btn-default' %>
    </td>
    <td></td>
    <td></td>
  <% else %>
    <td></td>
    <td></td>
    <td></td>
  <% end %>
<% elsif gallery.is_public == true %>
  <td>
    <%= link_to t('layout.show'), gallery_images_path(gallery), class: 'btn btn-default' %>
  </td>
  <td></td>
  <td></td>
<% else %>
  <td></td>
  <td></td>
  <td></td>
<% end %>
