.panel-body
  = form_for @gallery do |f|
    - if @gallery.errors.any?
      #error_explanation
        %h2= "#{pluralize(@gallery.errors.count, "error")} prohibited this gallery from being saved:"
        %ul
          - @gallery.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = f.label t('layouts.name') << ": "
      = f.text_field :name
    .form-group
      = f.label t('layouts.public') << ": "
      = f.check_box :is_public    
      .actions
        = f.submit 'Save'
