.row
  .col-lg-3
  .col-lg-6
    .panel.panel-default
      .panel-heading
        %h4= t('gallery.edit')
      = render 'form'


    = link_to t('layout.show'), @gallery, class: 'btn btn-default'
    \|
    = link_to t('layout.back'), :back, class: 'btn btn-default'
  .col-lg-3
