%h1.center-align= t('gallery.index')

%table.table
  %thead
    %tr
      %th= t('layout.name')
      %th= t('layout.public')
      %th= t('layout.user')
      %th= t('gallery.count')
      %th
      %th
      %th

  %tbody
    - @galleries.each do |gallery|
      %tr
        %td= gallery.name
        %td= gallery.is_public
        %td= User.find(gallery.user_id).name
        %td= gallery.images.count
        =render 'galleries/edit_menu', gallery: gallery



%br

= link_to t('layout.new', model: 'Gallerie'), new_gallery_path, class: 'btn btn-default'
