%p#notice= notice

%p
  %b Name:
  = @gallery.name
%p
  %b Is public:
  = @gallery.is_public
%p
  %b User:
  = @gallery.user_id



= link_to t("gallery.new_image"), gallery_images_path(params[:id])

= link_to t("layout.edit"), edit_gallery_path(@gallery)
\|
= link_to t("layout.back"), :back
