-if user_signed_in?
  -if (current_user.id == @gallery.user.id)
    = link_to t('layout.show'), gallery_image_path(id: image.id), class: 'btn btn-default'
    = link_to t('layout.edit'), edit_gallery_image_path(id: image.id), class: 'btn btn-default'
    = link_to t('layout.destroy'), [@gallery, image], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  -elsif @gallery.is_public == true
    = link_to t('layout.show'), gallery_image_path(id: image.id), class: 'btn btn-default'


  -else



-elsif @gallery.is_public == true
  = link_to t('layout.show'), gallery_image_path(id: image.id), class: 'btn btn-default'


-else
  = link_to t('layout.show'), gallery_image_path(id: image.id), class: 'btn btn-default'
