<% values = {"Type": "type", "Filesize" => "filesize", "ISO" => "iso", "Create Date": "createdate", "File Type": "filetype", "Make": "make", "Model": "model", "Color Space": "colorspace", "GPS Position": "gpsposition", "Size": "size", "Sutter Speed": "shutterspeed", "Exposure Time": "exposuretime", "F Number": "fnumber", "aperturevalue": "aperturevalue", "Ligth Source": "lightsource", "Flash": "flash", "Focallength": "focallength", "Lens Info": "lensinfo", "Software": "software" } %>

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        EXIF Data
      </a>
    </li>
    <% values.each do |key, value| %>
    <li>
      <div class="left">
        <%= "#{key}" %>
      </div>
      <div class="right">
        <%= "#{image.send(value.to_s)}" %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
