= form_for([@gallery, @image]) do |f|
  - if @image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :gallery_id
    = f.number_field :gallery_id
  .field
    = f.label :data
    = f.file_field :data
  .field
    = f.label :is_public
    = f.check_box :is_public
  .actions
    = f.submit 'Save'
