.row
  .col-lg-3
  .col-lg-6
    .panel.panel-default
      .panel-heading
        %h4= t('layout.image.edit')
      = render 'form'

    = link_to t('layout.show'), gallery_image_path
    \|
    = link_to t('layout.back'), :back
  .col-lg-3
