<div class="gallery">
  <div class="div">
    <div class="btn-group">
      <button class="btn btn-info" id="gallery">PhotoSwipe</button>
      <%= link_to 'New Image', new_gallery_image_path, class: 'btn btn-success', 'data-no-turbolink' => true %>
    </div>
  </div>
  <% @images.each_slice(4).each do |group| %>
    <div class="row margin-image">
      <% group.each do |image| %>
        <div class="col-lg-3">

            <div class="col-lg-6">
              <%= link_to (image_tag get_image_gallery_image_path(@gallery, image, size: 'preview'), class: 'img-rounded img-responsive center-block'), gallery_image_path(id: image.id) %>
            </div>
            <div class="col-lg-6">
              <div class="btn-group-vertical">
                <%= render 'images/edit_menu', image: image %>
              </div>
            </div>
          
        </div>
      <% end %>
    </div>
  <% end %>
</div>
