= form_for([@gallery, @image], html: { multipart: true, class: "dropzone", id: "dropzone" }) do |f|
  .fallback
    = f.file_field :data
    %br/
    = f.submit t('layout.submit')
%br/

= link_to t('layout.back'), :back
