%p#notice= notice
.row
  .col-lg-3
    -image = MiniExiftool.new @image.data.path
    =render 'images/exif', image: image
  .col-lg-6
    =link_to (image_tag get_image_gallery_image_path(@gallery, @image, size: 'medium'), class: 'img-rounded img-responsive center-block'), get_image_gallery_image_path(@gallery, @image, size: 'original'), :target => "_blank"
    .margin-image
    -unless image.gpslongitude.nil? || image.gpslatitude.nil?
      = image_tag "http://maps.google.com/maps/api/staticmap?size=1200x600&sensor=false&zoom=16&markers=#{convert_gps(image.gpslatitude)}%2C#{convert_gps(image.gpslongitude)}&maptype=hybrid&style=feature:all", class: 'img-rounded img-responsive center-block'
    =render 'comments/index', comments: @image.comments
  .col-lg-3
    .btn-group-vertical
      %td= link_to t('layout.edit'), edit_gallery_image_path(@gallery, @image), class: 'btn btn-default'
      = link_to t('layout.back'), :back, class: 'btn btn-default'
      - if @image[:is_public]
        = link_to t('layout.private'), {:action => :change_public, :controller => :images}, :method => :post, class: 'btn btn-success'
      - else
        = link_to t('layout.public'), {:action => :change_public, :controller => :images}, :method => :post, class: 'btn btn-danger'
