- flash.each do |type, message|
  %div{:class => "alert #{bootstrap_class_for(type)} alert-dismissible fade in"}
    %button.close{"data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
      %span.sr-only Close
    = message
