.navbar.navbar-default.navbar-fixed-top
  .container
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand(href="/") Pixxolo
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to t('layouts.home'), root_path
        %li= link_to t('layouts.gallery'), galleries_path
      .nav.navbar-nav.navbar-right
        = render 'layouts/user_manager'
