!!!
%html
  %head
    %title Pixxolo


    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    = javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"

    = csrf_meta_tags

  %body
    = render 'layouts/photo_swipe'
    %header
    = render 'layouts/navigation'
    .container
      .row
        = render 'devise/sessions/new'
        = render 'devise/registrations/new'
        = render 'devise/registrations/edit'
        = render partial: "layouts/flash_messages", flash: flash
        .col-lg-12
          = yield
